apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - configmap.yaml
  - secret.yaml
  - hpa.yaml
  - service-account.yaml

patchesStrategicMerge:
  - patch-deployment-configmap.yaml

commonLabels:
  app.kubernetes.io/name: arise-realtime
  app.kubernetes.io/part-of: arise-cluster
